# It is normal to exclude the .git/ repo, however ClusterRunner uses it for version calculation
# so it must be included with the Docker image.
# .git/

# virtualenv
.python-version

# test/build
**/__pycache__/
*.egg-info/
.hypothesis/
build_results/
dist/

# sources
Dockerfile
test/
windows/
