install:
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts\\;%PATH%"
  - pip install -r requirements.txt

environment:
  CR_VERBOSE: 1

build: false  # Not a C# project

test_script:
  - nosetests -vv test
  - windows\run_cr_unit_on_cr.cmd
