---
layout: landing
title: ClusterRunner
overview: true
---


<body class="wrap">
<header>
    <div class="os-banner hide-on-mobiles">
        <div class="grid one-third">
            <a href="http://opensource.box.com/"><img src="http://opensource.box.com/assets/images/logo.png"></a>
        </div>
    </div>

    <div class="grid">

        <!-- Mobile layout -->
        <div class="show-on-mobiles">
            <nav class="mobile-nav">
                {% include primary-nav-items.html %}
            </nav>

            <div class="whole grid show-on-mobiles">
                <div class="unit">
                    <div class="two-thirds left" style="font-size:22px; color:#ffffff;">
                        Making fast test-feedback easy through horizontal scaling
                    </div>
                    <div class="one-third left" style="padding:10px 0 20px 20px"><img width="70" src="/img/box_clusterrunner_lrg.png" ></div>
                </div>
            </div>
        </div>

        <!-- Standard layout -->
        <div class="hide-on-mobiles">
            <div class="unit one-third"></div>
            <nav class="main-nav minimal unit two-thirds">
                {% include primary-nav-items.html %}
            </nav>

            <div class="whole grid hide-on-mobiles">
                <div class="unit">
                    <div class="two-thirds left" style="font-size:60px; color:#ffffff; padding-top: 30px;">
                        Making fast test-feedback easy through horizontal scaling
                    </div>
                    <div class="one-third left" style="padding:10px 0 20px 20px"><img height="270" src="/img/box_clusterrunner_lrg.png" ></div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="welcome">
    <div class="grid hide-on-mobiles">
        <div class="unit whole" style="padding-right:20px; margin:30px 0 0 0; border:1px dashed #b4b4b4; background-color:#fff">
            <div class="left half">
                <p>ClusterRunner makes it easy to execute test suites across your infrastructure in the fastest and most efficient way possible.</p>
                <p>With ClusterRunner you can easily:</p>
                <ul>
                    <li>Make linear jobs run in parallel</li>
                    <li>Utilize 100% of your testing infrastructure</li>
                    <li>Get faster test feedback</li>
                </ul>
            </div>

            <div class="left half hide-on-mobiles">
{% highlight bash %}
# Replace your old test commands...
~ $ phpunit test/
~ $ nosetests test/
~ $ sbt test

# With the new and improved...
~ $ clusterrunner build --job-name Tests
{% endhighlight %}
            </div>
        </div>

        <div class="unit tiles">
            <div class="left one-third">
                <p class="title"><img src="/img/glyphicons_291_celebration@2x%20copy.png">Remove Bottlenecks</p>
                <p>Your testing pipeline is as fast as your slowest job. Break up the slow stuff.</p>
            </div>
            <div class="left one-third">
                <p class="title"><img src="/img/glyphicons_136_cogwheel.png">Utilize Infrastructure</p>
                <p>Dynamically scale jobs across your infrastructure to utilize every possible CPU cycle.</p>
            </div>
            <div class="left one-third">
                <p class="title"><img src="/img/glyphicons_064_lightbulb@2x.png">Distribute Intelligently</p>
                <p>Leverage past job execution metrics to make future runs even faster.</p>
            </div>
        </div>
    </div>
    <div class="grid show-on-mobiles">
        <div class="unit whole" style="padding-right:20px; margin:30px 0 20px 0; border:1px dashed #b4b4b4; background-color:#fff">
            <div class="left">
                <p>ClusterRunner makes it easy to execute test suites across your infrastructure in the fastest and most efficient way possible.</p>
                <p>With ClusterRunner you can easily:</p>
                <ul>
                    <li>Make linear jobs run in parallel</li>
                    <li>Utilize 100% of your testing infrastructure</li>
                    <li>Get users test feedback faster</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="grid unit whole align-center">
        <h2><a href="docs/installation/">So let's get started!</a></h2>
    </div>
</section>








    </div>
</section>