# Install with "pip install -r requirements.txt"

# Downgrade the setuptools version to workaround the issue replacing the setuptools dependency
# IOError METADATA no such file. Check https://github.com/pypa/setuptools/issues/951 for more details.
setuptools==33.1.1
configobj==5.0.6
fysom==2.1.2
Logbook==0.7.0
prometheus_client==0.0.19
psutil==2.1.2
PyYAML==3.11
requests==2.3.0
termcolor==1.1.0
tornado==3.2.2
typing==3.6.1
