# Install with "pip install -r requirements.txt"

configobj==5.0.6
coverage==3.7.1
cx_Freeze==4.3.3
fysom==2.1.2
genty==1.1.0
hypothesis==1.9.0
Logbook==0.7.0
nose==1.3.4
nosexcover==1.0.10
pep8==1.5.7
psutil==2.1.2
pylint==1.5.1
PyYAML==3.11
requests==2.3.0
termcolor==1.1.0
tornado==3.2.2
