<header>
  <div class="os-banner hide-on-mobiles">
    <div class="grid one-third">
        <a href="https://opensource.box.com/"><img src="https://opensource.box.com/assets/images/logo.png"></a>
    </div>
  </div>

  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles" style="padding:25px 0 20px 0">
      <h1>
        <a href="/">
          <span>ClusterRunner</span>
          <img src="/img/box_clusterrunner_sml.png" height="80" alt="Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
